@{
    if(User.IsInRole("Merchant")){
        
        <partial name="_MerchantHome"/>
        
    }else if (User.IsInRole("Employee"))
    {
        <partial name="_EmployeeHome"/>
    }
    else
    {
        <h1>Home Index</h1>
    }
}