@{
    if(User.IsInRole("Merchant")){
        
        <partial name="_MerchantHome"/>
        
    }else if (User.IsInRole("Employee"))
    {
        <partial name="_EmployeeHome"/>
    }
    else
    {
        <h1 class="text-center" style="font-size:400px"><i class="bi bi-truck"></i></h1>
    }
}